body {
  background-color: #1E394E;
}

body * {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  -o-transition:.15s;
  -ms-transition:.15s;
  -moz-transition:.15s;
  -webkit-transition:.15s;
  transition:.15s;
}

/* -- GENERAL -- */

ol{
  list-style: none;
}

.flex-row {
  display: flex;
  flex-direction: row!important;
}

div.flex-row {
  display: flex!important;
  flex-direction: column;
}

.is--overline {
font-weight: 700;
font-size: 10px;
line-height: 24px;
letter-spacing: 1px;
text-transform: uppercase;
color: #A0A3BD;
}

/* -- EPISODE-LIST --  */
.episodes-list {
  display: flex;
  width: 90%;
  max-width: 3000px;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.filling-empty-space-childs {
  width:370px; /*the width of the images in this example*/
  height:0; /*Important! for the divs to collapse should they fall in a new row*/
  margin: 0 30px;
  position: relative;
}

/* -- EPISODE-CARD --  */
.episode-card {
  box-sizing: border-box;
  width: 370px;
  border-radius: 15px;
  background: #F7F7FC;
  position: relative;
  border-radius: 15px;
  height: 560px;
  margin: 30px 30px;
  box-shadow: -15px -15px 56px rgba(52, 84, 109, 0.7), 23px 32px 69px rgba(4, 16, 24, 0.7);
  overflow: hidden;
}

.episode-card__img {
  padding: 2px;
  border-radius: 30px;
  width: 100%;
  outline: 4px solid #F7F7FC;
  outline-offset: -7px;
}

.episode-card>div{
  display: flex;
  flex-direction: column;
}

.episode__info {
  padding: 0 15px;
  position: relative;
  height: calc(100% - 240px);
}


.episode__time-info {
  margin-bottom: 30px;
}

.episode-card h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 115.6%;
  text-transform: uppercase;
  color: #1E394E;
  margin-bottom: 15px;
}

.episode-card h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #1E394E;
  flex-grow: 1;
  position: relative;
}

.episode__comment-btn{
  display: flex;
  position: relative;
  bottom: 0;
  text-decoration: underline;
  background-color: rgba(red, 0, 0, 1)!important;
  color: #85594A;
}

.episode__comment-btn:hover{
  background-color: rgba(red, green, blue, 1)!important;
}

.episode__number {
  position: absolute;
  color: #F7F7FC;
  font-weight: 900;
  letter-spacing: -6.5px;
  font-size: 150px;
  left: -10px;
  bottom: -70px;
  z-index: 0;
  opacity: 0.4;
  /* border: 2.74287px solid #DDE5EC; */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #DDE5EC;
}

.episode__play-btn{
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 80px;
  height: 80px;
  padding-left: 6px;
  padding-top: 6px;
  color: #F7F7FC;
  font-size: 30px;
  background: rgb(133,89,74);
  background: linear-gradient(304deg, rgba(133,89,74,1) 0%, rgba(207,171,159,1) 100%);
  filter: drop-shadow(5px 5px 13px rgba(133, 89, 74, 0.4));
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

/* -- LINKS CONTAINER -- */
.links-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -30px;
  left: 0;
  backdrop-filter: blur(8px);
  background: rgba(247, 247, 252, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.btn-class {
  width: 180px;
  height: 44px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.btn-gradient {
  font-weight: 700;
  font-size: 14px;
  line-height: 46px;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(304deg, rgba(133,89,74,1) 0%, rgba(207,171,159,1) 100%);
  filter: drop-shadow(0px 5px 6px rgba(133, 89, 74, 0.4));
  color: #F7F7FC;
}

.btn-gradient img {
  margin-right: 12px;
  position: relative;
}

.btn-gradient .link__youtube {
  margin-right: 7px;
  top: 5px;
}

.btn-gradient .link__spotify {
  top: 8px;
}

.btn-gradient .link__download {
  top: 3px;
}

.text-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 46px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(133,89,74,1);
  cursor: pointer;
}

.btn-float--hover:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px;
}

.btn-float--hover:active {
  transform: scale(0.98);
  box-shadow: 0px 0px 3px;
}

.btn-class.text-btn:hover {
  background-color: rgba(0,0,0,0.06);
  filter: brightness(130%);
}

.btn-class.text-btn:active {
  background-color: rgba(0,0,0,0.08);
  filter: brightness(90%);
}

.text-btn:hover {
  filter: brightness(130%);
}

.text-btn:active {
  filter: brightness(90%);
}

/* ---- */

.load-more {
  align-self: center!important;
  justify-self: center!important;
  margin: 0 auto;
  text-align: center;
  margin-top: 300px;
}

.load-more:hover {
  box-shadow: 0px 0px 0px;
}
