body {
  background-color: #1E394E;
}

body * {
  box-sizing: border-box;
}

/* -- GENERAL -- */

.flex-row {
  display: flex;
}

/* -- EPISODE-CARD --  */

.episode-card {
  box-sizing: border-box;
  max-width: 320px;
  border-radius: 15px;
  background: #F7F7FC;
  box-shadow: -15px -15px 56px rgba(52, 84, 109, 0.7), 23px 32px 69px rgba(4, 16, 24, 0.7);
  border-radius: 15px;
  margin-bottom: 10px;
}

.episode-card__img {
  padding: 2px;
  border-radius: 30px;
  width: 100%;
  outline: 4px solid #F7F7FC;
  outline-offset: -7px;
}