body {
  background-color: #1E394E;
}

body * {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

div {}

/* -- GENERAL -- */

.flex-row {
  display: flex;
  flex-direction: row!important;
}

div.flex-row {
  display: flex!important;
  flex-direction: column;
}

.is--overline {
font-weight: 700;
font-size: 10px;
line-height: 24px;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E394E;
}

/* -- EPISODE-CARD --  */

.episode-card {
  box-sizing: border-box;
  max-width: 370px;
  border-radius: 15px;
  background: #F7F7FC;
  box-shadow: -15px -15px 56px rgba(52, 84, 109, 0.7), 23px 32px 69px rgba(4, 16, 24, 0.7);
  border-radius: 15px;
  margin-bottom: 10px;
  height: 560px;
  overflow: hidden;
}

.episode-card__img {
  padding: 2px;
  border-radius: 30px;
  width: 100%;
  outline: 4px solid #F7F7FC;
  outline-offset: -7px;
}

.episode-card>div{
  display: flex;
  flex-direction: column;
}

.episode__info {
  padding: 0 15px;
  position: relative;
  height: calc(100% - 240px);
}


.episode__time-info {
  margin-bottom: 30px;
}

.episode-card h2 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 115.6%;
  text-transform: uppercase;
  color: #1E394E;
  margin-bottom: 15px;
}

.episode-card h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #1E394E;
  flex-grow: 1;
  position: relative;
}

.episode__comment-btn{
  display: flex;
  position: relative;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #85594A;
}

.episode__number {
  position: absolute;
  color: #F7F7FC;
  font-weight: 900;
  letter-spacing: -6.5px;
  font-size: 150px;
  left: -10px;
  bottom: -70px;
  z-index: 0;
  opacity: 0.4;
  /* border: 2.74287px solid #DDE5EC; */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #DDE5EC;
}

.episode__play-btn{
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 80px;
  height: 80px;
  padding-left: 6px;
  padding-top: 6px;
  color: #F7F7FC;
  font-size: 30px;
  background: rgb(133,89,74);
  background: linear-gradient(304deg, rgba(133,89,74,1) 0%, rgba(207,171,159,1) 100%);
  filter: drop-shadow(5px 5px 13px rgba(133, 89, 74, 0.4));
  border-radius: 100%;
  border: none;
}

/* .episode__play-btn::after{
  content: '1';

} */